extends layout 

block content 
    .w3-card-4 
        header.w3-container.w3-light-blue
            h1 Contrato #{contrato._id}

        .w3-container 
            br
            a.w3-btn.w3-blue(href="/") Voltar
            a.w3-btn.w3-ripple.w3-round.w3-blue(href="/edit/"+contrato._id) Editar Contrato
            a.w3-btn.w3-ripple.w3-round.w3-blue(href="/delete/"+contrato._id) Remover Contrato 
            br
            br
            ul.w3-ul.w3-card-4

                li 
                    b ID: 
                    | #{contrato._id}
                li 
                    b Anuncio: 
                    | #{contrato.nAnuncio}
                li 
                    b Tipo de Procecimento: 
                    | #{contrato.tipoprocedimento}
                li 
                    b Objeto de Contrato: 
                    | #{contrato.objectoContrato}
                li 
                    b Data de Publicação: 
                    | #{contrato.dataPublicacao}
                li 
                    b Data de Celebração do Contrato: 
                    | #{contrato.dataCelebracaoContrato}
                li 
                    b Preço Contratual: 
                    | #{contrato.precoContratual}
                li 
                    b Prazo de Execução: 
                    | #{contrato.prazoExecucao}

                li
                    b NIPC - Entidade Comunicante: 
                    a(href="/entidades/" + contrato.NIPC_entidade_comunicante)=contrato.NIPC_entidade_comunicante 
                li 
                    b Entidade Comunicante: 
                    | #{contrato.entidade_comunicante}
                li 
                    b Fundamentação: 
                    | #{contrato.fundamentacao}

